.quotes__title {
  padding: 24px 0 122px;
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: -0.7px;
  max-width: 490px;
}
@media screen and (max-width: 870px) {
  .quotes__title {
    font-size: 28px;
    line-height: 32px;
    padding: 0 0 5% 0;
  }
}
@media screen and (max-width: 410px) {
  .quotes__title {
    font-size: 22px;
    line-height: 24px;
    padding: 15px 0 45px 0;
  }
}
