.place__title {
  padding: 0;
  font-weight: 700;
  font-size: 34px;
  line-height: 72px;
  letter-spacing: 0.5px;
  margin: 0;
  margin-left: 70px;
  margin-top: 45px;
  grid-area: place__title;

}

@media screen and (max-width: 1140px) {
   .place__title {
      font-size: 32px;
      line-height: 64px;
   }
}

@media screen and (max-width: 948px) {
   .place__title {
       font-size: 26px;
       line-height: 46px;
   }
}

@media screen and (max-width: 840px) {
  .place__title {
    margin: 15px 0 15px 0;
     }
}
