.page {
    max-width: 1280px;
    min-width: 320px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    font-family: 'Roboto', Arial, sans-serif;
    color: #000;
    box-sizing: border-box;
}
