.intro__subtitle {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #fecda7;
    max-width: 108px;
    position: absolute;
    margin: 0;
    margin-bottom: 28px;
    left: 72px;
    top: 111px;
}