.intro__subtitle {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 5;
    color: #fecda7;
    text-transform: uppercase;
    max-width: 140px;
    position: absolute;
    margin: 0;
    margin-bottom: 28px;
    left: 72px;
    top: 111px;
}