.intro__subtitle {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #fecda7;
  text-transform: uppercase;
  max-width: 140px;
  padding: 0;
  margin: 0 0 28px 0px;
  letter-spacing: 0.7px;
}
@media screen and (max-width: 870px) {
  .intro__subtitle {
    font-size: 11px;
    line-height: 14px;
    margin: 10px 0 10px 4px;
  }
}
@media screen and (max-width: 410px) {
  .intro__subtitle {
    font-size: 10px;
    line-height: 12px;
  }
}
