.main__content {
  padding: 0 67px 0 67px;
}
@media screen and (max-width: 1100px) {
  .main__content {
    padding: 0 48px 0 48px;
  }
}

@media screen and (max-width: 790px) {
  .main__content {
    padding: 0 24px 0 24px;
  }
}
@media screen and (max-width: 410px) {
  .main__content {
    padding: 0 10px 0 10px;
  }
}
