.page__content {
  width: calc(100% - 2*70px);
}
@media screen and (max-width: 1100px) {
  .page__content {
    width: calc(100% - 2*48px);
  }
}

@media screen and (max-width: 790px) {
  .page__content {
    width: calc(100% - 2*24px);
  }
}
@media screen and (max-width: 410px) {
  .page__content {
    width: calc(100% - 2*10px);
  }
}
