.header__link {
  margin: 0 36px 0 0;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  color: #000;
  letter-spacing: 0.6px;
  transition: 0.5s;
}
.header__link:hover {
  transition: 0.5s;
  opacity: .7;
}
@media screen and (max-width: 500px) {
  .header__link {
    margin: 0;
    font-size: 16px;
    line-height: 32px;
    margin-left: 25px;
    text-decoration: underline;
    text-underline-offset: 3px;
    }
}
