.place__paragraph {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.58;
    margin: 0;
    padding: 0;
    margin-left: 72px;
    margin-bottom: 20px;
    max-width: 380px;
    letter-spacing: 0.5px;
}

.place__paragraph:nth-of-type(3n) {
    margin-bottom: 0px;
}
