.footer__copyright {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 36px;
  max-width: 90%;
  letter-spacing: 1px;
}
@media screen and (max-width: 1050px) {
  .footer__copyright {
    font-size: 28px;
  }
}
@media screen and (max-width: 870px) {
  .footer__copyright {
    font-size: 24px;
  }
}
@media screen and (max-width: 410px) {
  .footer__copyright {
    font-size: 18px;
  }
}
