.intro {
    display: grid;
    max-width: 100%;
    min-height: 520px;
    grid-template-columns: 53.1% auto;
}
@media screen and (max-width: 650px) {
  .intro {
    grid-template-columns: 1fr;
    min-height: auto;
  }
}
