.intro {
  display: grid;
  max-width: 100%;
  min-height: 518px;
  grid-template-columns: 53.6% auto;
}

@media screen and (max-width: 580px) {
  .intro {
    grid-template-columns: 1fr;
    min-height: auto;
  }
}
