#header__burger, [for=header__burger] {
    display: none;
}
@media screen and (max-width: 500px) {
  [for=header__burger]{
      display: block;
      position: fixed;
      width: 30px;
      text-align: center;
      right: 20px;
      top: 10px;
      color: #000;
      font-size: 30px;
  }
  [for=header__burger]::before{
      content: '☰';
  }

  #header__burger:checked + label + .header__nav{
      display: block;
      animation: show .5s ease;
  }
  #header__burger:checked +[for=header__burger]::before{
      content: 'X';
  }
}
@keyframes show {
  0%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}
