.quotes {
  display: grid;
  grid-auto-columns: auto;
  grid-template-rows: auto;
  padding-top: 132px;
  padding-bottom: 125px;
}
@media screen and (max-width: 1050px) {
  .quotes {
    padding-top: 5%;
    padding-bottom: 5%;
    }
}
