.place {
    display: grid;
    grid-template-areas:
        'place__image place__title'
        'place__image place__paragraphs';
    max-width: 100%;
    grid-template-columns: repeat(2, minmax(320px, 1fr));
    grid-template-rows: repeat(2, 50%);
    margin: 0;
    padding-bottom: 1px;
}

.place:nth-of-type(2n) {
    grid-template-areas:
        'place__title place__image'
        'place__paragraphs place__image';
}

@media screen and (max-width: 840px) {
  .place, .place:nth-of-type(2n) {
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  max-width: 100%;
  grid-template-areas:
      'place__title'
      'place__image'
      'place__paragraphs';
  margin: 0 0 50px 0;
  }
}
