.place {
    font-family: 'Roboto', Arial, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*grid-template-areas: 
        'image title'
        'image paragraphs';*/
        max-width: 100%;
}