.footer {
    background-color: #fecda7;
    height: 620px;
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
@media screen and (max-width: 870px) {
  .footer {
    height: 50vh;
  }
}

@media screen and (max-width: 410px) {
  .footer {
    height: 30vh;
  }
}
