.intro__img {
    max-width: 356px;
    aspect-ratio: 1/1;
    object-fit: cover;
    justify-self: center;
    align-self: center;
    animation: animation-name 6s ease infinite;
}

@media screen and (max-width: 870px) {
  .intro__img {
    width: calc(100% - 2*24px);
  }
}

@media screen and (max-width: 410px) {
  .intro__img {
    width: 100%;
  }
}

@keyframes animation-name {
  0% {
    filter: none;  }
  50% {
    filter: contrast(150%) brightness(90%);
	-webkit-filter: contrast(150%) brightness(90%);
  }
  100% {
    filter: none;   }
}
