.intro__title {
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    letter-spacing: 0.1;
    max-width: 534px;
    position: absolute;
    margin: 0;
    left: 72px;
    top: 158px;
}